@import './../../styles/tokens/generated/index';
@import './../../styles/mixins/mixins';

:host {
  // --transform: translateY(50%);
  --transform: none;
  --pointer-fill: #{$cds-alias-object-interaction-background};
  --pointer-outline: #{$cds-alias-object-border-color};
  --height: #{$cds-global-layout-space-sm};
  --width: #{$cds-global-layout-space-md};

  display: block;
  height: var(--height);
  width: var(--width);

  .pointer-img {
    transform: var(--transform);
    height: var(--height);
    width: var(--width);
  }

  .pointer-fill {
    fill: var(--pointer-fill, #{$cds-alias-object-interaction-background});
  }

  .pointer-border {
    fill: var(--pointer-outline, #{$cds-alias-object-border-color});
  }
}

:host([type='angle']) {
  --height: #{$cds-global-layout-space-md};
}

svg,
::slotted(*) {
  display: block;
}
